extends layout

block content
  h1 Game On!
  ul#messages
  form#chat-form
    input#m(
      autocomplete="off"
    )
    button Send
  form#game-form
    input#name(
      autocomplete="off"
      data-game="name"
      placeholder="name"
    )
    input#animal(
      autocomplete="off"
      data-game="animal"
      placeholder="animal"
    )
    input#land(
      autocomplete="off"
      data-game="land"
      placeholder="land"
    )
    input#brand(
      autocomplete="off"
      data-game="brand"
      placeholder="brand"
    )
    input#color(
      autocomplete="off"
      data-game="color"
      placeholder="color"
    )
    input#job(
      autocomplete="off"
      data-game="job"
      placeholder="job"
    )
    button Send
  section.results
    ul.results__list
